chart-layout {
    > .chart-layout {
        width: 100%;
        height: 100%;

        > chart-sidebar {
            width: 20%;
            height: 100%;
            float: left;
        }

        > chart-tabset {
            width: 80%;
            height: 100%;
            float: right;
        }
    }
}

