<form #form="ngForm" (ngSubmit)="submit()" class="container-fluid modal-container rounded">
    <div class="modal-header bg-info text-white">
        <button class="close text-white" (click)="close()" type="button">
            <span aria-hidden="true">×</span>
        </button>
        <h5 class="px-3 pt-1"><i class="fa fa-angle-right" aria-hidden="true"></i> {{context.title}}</h5>
    </div>
    <div class="modal-body bg-white">
        {{context.bodyContent}}
        <input class="form-control" type="text" name="promptText" id="promptText" [(ngModel)]="promptText" required>
    </div>
    <div class="modal-footer bg-light">
        <button type="button" class="btn btn-sm btn-light add-formula-button" (click)="close()">Cancel</button>
        <button type="button" type="submit" class="btn btn-sm btn-info add-formula-button" [disabled]="!isValid()">Ok</button>
    </div>
</form>
