# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/WebClient/dist
/WebClient/tmp
/WebClient/out-tsc

# dependencies
/WebClient/node_modules

# IDEs and editors
/WebClient/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/WebClient/.sass-cache
/WebClient/connect.lock
/WebClient/coverage
/WebClient/libpeerconnection.log
npm-debug.log
testem.log
/WebClient/typings

# e2e
/WebClient/e2e/*.js
/WebClient/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# WebApi
/WebApi/obj
