<div class="chart-tabset bg-white rounded" *ngIf="!isTabCollectionEmpty(); else noData">
    <button class="btn btn-secondary add-tab-button" title="Add new tab" (click)="addNewTab()">
        <i class="fa fa-plus fa-lg"></i>
    </button>
    <button class="btn btn-secondary edit-tab-button" title="Edit current tab" (click)="editActiveTab()">
        <i class="fa fa-gear fa-lg"></i>
    </button>
    <tabset #tabset [justified]="true">
        <tab *ngFor="let tab of tabCollection"
                [heading]="tab.title"
                [active]="tab.active"
                (select)="onTabSelected(tab)"
                [disabled]="tab.disabled"
                customClass="tab-customizable">
            <ng-template tabHeading>
                <button class="close" (click)=removeTab(tab)><i class="fa fa-times"></i></button>
            </ng-template>
        </tab>
    </tabset>
    <chart [displayData]="displayData"></chart>
</div>
<ng-template #noData>
    <button class="btn btn-secondary add-tab-button" title="Add new tab" (click)="addNewTab()">New tab</button>
</ng-template>