<div>
  Я сука смог. Как спрошу я у себя? Вот.<br>
  <br>
  1. Хостинг для Angular на firebase.google.com<br>
  2. Хостинг для .net core 2.0 на heroky.com<br>
  3. Домен на reg.ru<br>
  <br>
  0. Собираем проект Angular в прод<br>
  $ ng build --prod<br>
  <br>
  1. Регистрируемся на firebase.google.com<br>
  <br>
  2. В Console добавляем проект с любым названием в России<br>
  <br>
  3. Переходим в Hosting.<br>
  Далее по инструкции устанавливаем CLI<br>
  $ npm install -g firebase-tools<br>
  Логинимся<br>
  $ firebase login<br>
  Инициируем проект в папке с проектом<br>
  $ firebase init<br>
  Деплоим<br>
  $ firebase deploy<br>
  <br>
  4. Подключаем домен<br>
  Добавляем в TXT домена в reg.ru запись, которую потребует firebase<br>
  Добавляем A записи, которые потруем firebase и удалем другие.<br>
  Готово<br>
  <br>
  0. Билдим проект .net core в релиз<br>
  $ dotnet build --configuration Release<br>
  <br>
  1. Регистрируемся на heroku.com<br>
  <br>
  2. В dashboard добавляем приложение.<br>
  <br>
  3. Deploy в heroku<br>
  Выбираем Deployment method Heroku git<br>
  Устанавливаем CLI<br>
  $ npm install -g heroku-cli<br>
  Выбираем билдпак для .net core 2.0<br>
  $ heroku buildpacks:set https://github.com/jincod/dotnetcore-buildpack<br>
  Логинимся по почте и паролю<br>
  $ heroku login<br>
  В дерриктории с проектом инициализиуем git<br>
  $ git init<br>
  Подключаем git к Heroku<br>
  $ heroku git:remote -a "app name"<br>
  Паблишим<br>
  $ git add .<br>
  $ git commit -am "commit name"<br>
  $ git push heroku master<br>
  <br>
  Готово!
</div>
