<form #form="ngForm" (ngSubmit)="submit()" class="modal-container rounded">
    <div class="modal-header bg-info text-white">
        <button class="close text-white" (click)="close()" type="button">
            <span aria-hidden="true">×</span>
        </button>
        <h5 class="px-3 pt-1"><i class="fa fa-angle-right" aria-hidden="true"></i> {{dialogTitle}}</h5>
    </div>
    <div class="modal-body bg-white">
        <div class="body-container bg-white rounded">
            <div class="body-container-head">
                <span>Flow options</span>
            </div>
            <div class="body-container-row">
                <span class="text-sm">Flow name</span>
                <input type="text" class="form-control form-control-sm mb-3" name="displayedName" id="displayedName" [(ngModel)]="model.displayedName"
                    required/>
            </div>
            <div class="body-container-row h-40">
                <list [model]="userFlowListModel"></list>
            </div>
            <div class="body-container-row h-40">
                <list [model]="defaultFlowListModel"></list>
            </div>
        </div>
        <div class="body-container rounded">
            <div class="body-container-head">
                <span>Available formulas</span>
            </div>
            <div class="body-container-row h-70">
                <list [model]="functionListModel"></list>
            </div>
            <div *ngIf="areFunctionOptionsDisplayed" class="body-container-row">
                <div *ngIf="displayMaxLoadFactorInput; else displayLoadFactorInput">
                    <span class="text-sm">Max load factor</span>
                    <input type="number" min="0.1" step="0.1" class="form-control form-control-sm mb-3" name="maxLoadFactor" id="maxLoadFactor" [(ngModel)]="model.maxLoadFactor"/>
                </div>
                <ng-template #displayLoadFactorInput>
                    <span class="text-sm">Load factor</span>
                    <input type="number" min="0.1" max="1" step="0.1" class="form-control form-control-sm mb-3" name="loadFactor" id="loadFactor" [(ngModel)]="model.loadFactor"/>
                </ng-template>
                <span class="text-sm">Number of service units</span>
                <input type="number" min="1" max="10" class="form-control form-control-sm" name="numberOfServiceUnits" id="numberOfServiceUnits"
                    [(ngModel)]="model.numberOfServiceUnits" />
            </div>
        </div>
        <div class="body-container rounded">
            <div class="body-container-head">
                <span>Display options</span>
            </div>
            <div class="body-container-row">
                <div class="form-group mb-1 row">
                    <label class="col-sm-8 col-form-label">Border width</label>
                    <div class="col-sm-4">
                        <input type="number" min="1" max="100" class="form-control form-control-sm" name="borderWidth" id="borderWidth" [(ngModel)]="model.borderWidth"
                        />
                    </div>
                </div>
                <div class="form-group mb-1 row">
                    <label class="col-sm-8 col-form-label">Background color</label>
                    <div class="col-sm-4">
                        <div [cpOutputFormat]="'rgba'" [cpPosition]="colorPickerDialogPosition" [style.background]="model.backgroundColor" [(colorPicker)]="model.backgroundColor"
                            class="form-group color-picker-block" name="backgroundColor" id="backgroundColor"></div>
                    </div>
                </div>
                <div class="form-group mb-1 row">
                    <label class="col-sm-8 col-form-label">Border color</label>
                    <div class="col-sm-4">
                        <div type="text" [cpOutputFormat]="'rgba'" [cpPosition]="colorPickerDialogPosition" [style.background]="model.borderColor"
                            [(colorPicker)]="model.borderColor" class="form-group color-picker-block" name="borderColor" id="borderColor"></div>
                    </div>
                </div>
                <div class="form-group mb-1 row">
                    <label class="col-sm-8 col-form-label">Point background color</label>
                    <div class="col-sm-4">
                        <div type="text" [cpOutputFormat]="'rgba'" [cpPosition]="colorPickerDialogPosition" [style.background]="model.pointBackgroundColor"
                            [(colorPicker)]="model.pointBackgroundColor" class="form-group color-picker-block" name="pointBackgroundColor"
                            id="pointBackgroundColor"></div>
                    </div>
                </div>
                <div class="form-group mb-1 row">
                    <label class="col-sm-8 col-form-label">Point border color</label>
                    <div class="col-sm-4">
                        <div type="text" [cpOutputFormat]="'rgba'" [cpPosition]="colorPickerDialogPosition" [style.background]="model.pointBorderColor"
                            [(colorPicker)]="model.pointBorderColor" class="color-picker-block" name="pointBorderColor" id="pointBorderColor"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer bg-light">
        <button type="button" class="btn btn-sm btn-light add-formula-button" (click)="close()">Cancel</button>
        <button type="button" type="submit" class="btn btn-sm btn-info add-formula-button" [disabled]="!isValid">Ok</button>
    </div>
</form>