chart-sidebar {
    $formulaButtonHeight: 3em;
    $formulaButtonMargin: 0.5em;

    padding: $commonElementOffset;
    height: 100%;

    .btn {
        @include text-overflow-with-ellipsis();
        height: $formulaButtonHeight;
    }

    > .chart-sidebar {
        height: 100%;

        > .btn-panel {
            padding: $commonElementOffset;
            overflow-y: auto;
            height: calc(100% - #{$formulaButtonHeight});

            > .btn-group {
                width: 100%;
                margin-bottom: $formulaButtonMargin;
    
                > .formula-name {
                    width: 100%;
                    @include text-overflow-with-ellipsis();
                }
            }
        }

        > .add-formula-button {
            width: 100%;
            border-radius: 0;
        }
    }
}
