chart-sidebar {
    $flowButtonHeight: 3em;
    $flowButtonMargin: 0.5em;

    padding: $commonElementOffset;
    height: 100%;

    .btn {
        @include text-overflow-with-ellipsis();
        height: $flowButtonHeight;
    }

    > .chart-sidebar {
        height: 100%;

        > .btn-panel {
            padding: $commonElementOffset;
            overflow-y: auto;
            height: calc(100% - #{$flowButtonHeight});

            > .btn-group {
                width: 100%;
                margin-bottom: $flowButtonMargin;
    
                > .flow-name {
                    width: 100%;
                    @include text-overflow-with-ellipsis();
                }
            }
        }

        > .add-flow-button {
            width: 100%;
            border-radius: 0;
        }
    }
}
