<div class="list-group bg-light rounded border">
    <span class="list-group-item text-white bg-secondary">{{model.title}}</span>
    <div class="loader" *ngIf="model.loading; else contentLoaded">
        <i class="fa fa-spinner fa-pulse fa-fw fa-4x"></i>
    </div>
    <ng-template #contentLoaded> 
        <span class="text-dark no-data" *ngIf="model.items.length == 0">
            There is no any item loaded
        </span>
        <ul class="list-group">
            <li class="list-group-item common-item text-black" *ngFor="let item of model.items" [ngClass]="getItemCssClasses(item)" (click)="onItemClicked(item)" [title]="item.description">
                {{item.name}}
            </li>
        </ul>
    </ng-template>
</div>