<div class="row-fluid d-flex align-items-center justify-content-center h-100">
    <div class="bg-light p-5 border rounded col-12 col-lg-3 col-md-8">
        <alert></alert>
        <div>
            <h2>Register</h2>
            <form name="form" class="pt-3" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                <div class="input-group form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>          
                    <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="model.username" #username="ngModel" required />
                    <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                  </div>
                  <div class="input-group form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>          
                    <input type="password" placeholder="Password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                  </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">Register<i class="fa fa-spinner fa-pulse fa-fw ml-2" *ngIf="loading"></i></button>
                    <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
