.modal {
    &.fade.in {
        // Seems like ngx-modialog bug was injected. Need to investigate why dialog layout breaks with flex style rules
        opacity: 1; 
    }
    .modal-header {
        padding: 5px;
        
        .close {
            padding: 8px;
            margin: -5px 0px -5px auto;
        }
    }
    .modal-header,
    .modal-footer {
        display: block;
    }

    .modal-footer {
        text-align: right;
    }

    .modal-container {
        position: absolute;
    }

    .modal-content {
        border: none;
    }

    .modal-hg {
        width: 900px;
        max-width: 900px
    }
}

.modal-backdrop.fade.in {
    opacity: 0.3;
}

@media (max-width: 900px) {
    .modal-hg {
        width: 100% !important;
        margin: 0;
    }
}