.glyphicon {
    font-family: "FontAwesome";
}

.glyphicon-remove-circle:before, {
    content: "\f00d";
}

.glyphicon-remove:before {
    content: "\f00d";
}

.navbar-brand a {
    text-decoration: none;
}

.btn {
    box-shadow: none !important;
}
