<div class="row">
    <div class="col-md-2 offset-md-5 rounded text-dark bg-light p-3">
        <p class="font-weight-bold">Edit flow properties</p>
        <input type="text" class="form-control my-2" [(ngModel)]="flow.Name">
        <input type="file" class="form-control-file my-2" #fileInput placeholder="Upload file..." />
        <small class="form-text text-muted">.txt file with arrival times of packets separated by line wrapping</small>
        <button class="btn btn-sm btn-success my-2" (click)="update()">Update</button>
        <button class="btn btn-sm btn-secondary" (click)="cancel()">Cancel</button>
    </div>
</div>
