<div class="row h-100">
  <div class="nav-fixed bg-info" [class.collapsed]="collapsed">
    <div class="nav flex-column h-100">
      <div class="nav-item">
        <a class="nav-link text-light font-weight-bold brand" (click)="toggle()" [routerLink]="">
          <i class="fa fa-navicon" aria-hidden="true"></i>
          <span class="px-2">АМС</span>
        </a>
      </div>
      <div class="nav-item pt-5">
        <a class="nav-link text-light" [routerLink]="['home']" routerLinkActive="active">
          <i class="fa fa-home" aria-hidden="true"></i>
          <span class="px-2">Home</span>
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-link text-light" [routerLink]="['chart']" routerLinkActive="active">
          <i class="fa fa-line-chart" aria-hidden="true"></i>
          <span class="px-2">Chart</span>
        </a>
      </div>
      <div class="nav-item">
        <a class="nav-link text-light" [routerLink]="['flows']" routerLinkActive="active">
          <i class="fa fa-cloud" aria-hidden="true"></i>
          <span class="px-2">Flows</span>
        </a>
      </div>
      <div class="nav-item pt-5">
        <a class="nav-link text-light" [routerLink]="['/login']" routerLinkActive="active">
          <i class="fa fa-reply-all" aria-hidden="true"></i>
          <span class="px-2">Logout</span>
        </a>
      </div>
    </div>
  </div>
  <div class="col bg-dark text-light overflow-y-auto">
    <router-outlet></router-outlet>
  </div>
</div>
